 *{
            padding: 0;
            margin: 0;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        body{
            background-color:rgb(233, 219, 201);
        }
        .Name{
            display:block;
            width: fit-content;
            margin: 50px auto;
            border:2px solid rgb(222, 193, 167);
            border-radius: 20px;
            background-color: rgb(213, 193, 175)
        }
        .Name h1{
            font-weight: 800   ;
        }
        .navbar{
            position: sticky;
            top: 0;
            background-color: rgb(233, 219, 201);
            z-index: auto;
            padding:3px;
        }

        .navbar ul{
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin: 5px 0;
        }
        .navbar a{
            display: block;
            text-decoration: none;
            color:black;
            background-color: rgb(213, 193, 175);
            padding: 10px 20px;
            border-radius: 25px;
            font-weight: bolder;
        }
        .navbar a:hover{
            background-color: rgb(233, 213, 188);
            border: 2px solid black;
        }
         @media (max-width: 600px){
            .navbar ul{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                padding: 0;
            }
            .navbar a{
                width: 80%;
                text-align: center;
            }
        }